.section-data, .myDD{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("../../assets/img/bg.png");
}
.english{
    font-family: Cambria, Arial, SansSerif;
}

.bigTitle{
    font-family: "Apple Chancmery";
}
